@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background-color: #070b14;
  color: white;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: calc(env(safe-area-inset-bottom) + 5rem);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
